<h3>{{appname}}</h3>
<hr>
   <b [style.color]="'lightgreen'" (click)="handleClick(1)">Theme1</b> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
   <b [style.color]="'tomato'" (click)="handleClick(2)">Theme2</b>  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
   <select [(ngModel)]="fonts">
       <option>Times New Roman </option>
       <option>Comic sans MS</option>
       <option>Arial</option>
       <option>Agency FB</option>
       <option>Consolas</option>
       <option>Courier</option>
   </select>
   &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
   {{message}}

<hr>
<div class="menu-container" [style.fontFamily]="fonts">

<app-second *ngFor="let x of circlemenus"
[title]="x"
[theme]="theme2"
(send) = "subscribed($event)"></app-second>
</div>
<hr>
<div  class="menu-container" [style.fontFamily]="fonts">
<app-menu-block *ngFor="let x  of menus"
 [title]="x.title"
 [items]="x.values"
 [theme]="theme1"
></app-menu-block>

<div>



