.circle-container
{
  width: 230px;
  height: 200px;
  margin: 30px;
  float: left;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(226, 248, 147);
  color: darkblue;
  border-radius: 100px;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px lightgreen;
}

