.menu-block
{
  border-radius: 2px;
  border: 2px solid rgb(70, 66, 66);
  color: rgb(49, 46, 46);
  padding: 20px;
  margin: 30px;
  width: 250px;
  height: 200px;
  float:left;
}

h3{
  color: rgb(37, 36, 36);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}

li{
  color: rgb(144, 134, 134);
}
