.menu-block
{
  border-radius: 2px;

  color: rgb(49, 46, 46);
  padding: 20px;
  margin: 30px;
  width: 250px;
  height: 200px;
  background-color: rgb(226, 248, 147);
  float:left;
  box-shadow: 3px 3px 10px rgb(192, 240, 148);
}

.alter{
  background-color: rgba(250, 61, 61, 0.781);
}

h3{
  color: rgb(37, 36, 36);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}

li{
  color: rgb(144, 134, 134);
}
